<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
    <link rel="stylesheet" href="start-page.component.css">
  </head>
<body>

<h1>All Files</h1>
<table>
    <thead>
        <tr>
            <th>File Name</th>
            <th>File ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of listFiles">
            <td>{{file.file_name}}</td>
            <td>{{file.id}}</td>
        </tr>
    </tbody>
</table>
<form>
    <div>
      <label for="image_uploads">Choose images to upload </label>
      <input type="file" id="image_uploads" name="image_uploads" >
    </div>
    <div class="preview">
      <p>No files currently selected for upload</p>
    </div>
    <div>
      <button id="submit" (click)="uploadFile()">Submit</button>
    </div>
  </form>
</body>
</html>


