body {
	background-color: white;
	color: black;
	font: 14px sans-serif;
	margin: auto;
	max-width: 900px;
	padding: 10px;
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 8px;
  }
}

tr {
  text-align: left;
}
td {
  padding-right: 100px;
}
button {
	background-color: royalblue;
	border: none;
	color: white;
	cursor: pointer;
	font: inherit;
	margin: 5px 0;
	padding: 7px;
}



