 <!DOCTYPE html>
<html>
<head>
<title>FileInfo</title>
</head>
<body>
<h1>File info: {{file.file_name}}</h1>
<button id="download_button" (click)="downloadContent('http://localhost:8000/files/'+file.id)">Download File</button>
<button id="delete_button" (click)="deleteFile(file.id)">Delete File</button>

<table class="styled-table">
  <tr>
      <th>Filename</th>
      <td>{{ file.file_name}}</td>
  </tr>
  <tr>
      <th>Filesize</th>
    <td>{{ file.file_size}} B</td>
  </tr>
  <tr>
      <th>Filehash</th>
    <td>{{ file.file_hash}}</td>
  </tr>
  <tr>
      <th>Filetype</th>
    <td>{{ file.file_type}}</td>
  </tr>
  <tr>
      <th>Filecreation</th>
    <td>{{ creation_time.toTimeString()}}</td>
  </tr>
  <tr>
      <th>Fileupdate</th>
    <td>{{ update_time.toTimeString()}}</td>
  </tr>
</table>
<a href="/">Home</a>

</body>
</html>
