 <!DOCTYPE html>
<html>
<head>
<title>FileInfo</title>
</head>
<body>
<h1>File info: {{file.file_name}}</h1>
<button id="download_button" (click)="downloadContent('http://localhost:8000/files/'+file.id)">Download File</button>
<button id="delete_button" (click)="deleteFile(file.id)">Delete File</button>

<table class="styled-table">
  <tr>
      <th>Filename</th>
      <td>{{ file.file_name}}</td>
  </tr>
  <tr>
      <th>Filesize</th>
    <td>{{ file.file_size}} B</td>
  </tr>
  <tr>
      <th>Filehash</th>
    <td>{{ file.file_hash}}</td>
  </tr>
  <tr>
      <th>Filetype</th>
    <td>{{ file.file_type}}</td>
  </tr>
  <tr>
      <th>Filecreation</th>
    <td>{{ creation_time.toTimeString()}}</td>
  </tr>
  <tr>
      <th>Fileupdate</th>
    <td>{{ update_time.toTimeString()}}</td>
  </tr>
</table>

<h1>Upload activity of this File:</h1>
<table class="styled-table">
      <tr>
          <th>File Name</th>
          <th>File ID</th>
          <th>Upload Time</th>
    </tr>
      <tr *ngFor="let uploadActivity of activityListToPrint">
          <td>{{uploadActivity.file_name}}</td>
          <td>{{uploadActivity.file_id}}</td>
          <td>{{uploadActivity.upload_time}}</td>
      </tr>
  </table>
</body>
</html>
